// Tablets and smaller 
@media screen and (max-width: 800px) {
    #header-container {
        .quote h1 {
            top:66%;
        }
}

    .test-col{
        flex: 100%;
        max-width: 80%;
    }

    .footershortcut-container {
        .footer-about {
            width: 374px;
        }

    }

    .card3, .card2 {
        margin-top: 1rem;
    }


    .card2 {
        margin-top: 1rem;
    }
  
}

@media screen and (max-width: 600px) {
    .test-col{ 
        flex: 100%; 
        max-width: 100%;
    }
    .navbar-toggler {
        text-align: center;
    display: inline-block;
    margin: 10px 0;


    }
    
    #nav-bar {

        text-align: center;
        display: block;
    }

 
    .service-card {
        flex: 100% !important;
        max-width: 100% !important;
       }

       .quote-button {
        padding: 10px 20px;
        width: 125px;
       }
       .quote-button .quote-text {
           font-size: 15px;
       }
    


}



// @include media-breakpoint-down(xl) { }
// @include media-breakpoint-down(lg) {  }
// @include media-breakpoint-down(md) { }
// @include media-breakpoint-down(sm) { 
    

// }



