// Tablets and smaller 
@media screen and (max-width: 800px) {
    #header-container {
        .quote h1 {
            top:66%;
        }
}

    .test-col{
        flex: 100%;
        max-width: 80%;
    }

    .footershortcut-container {
        .footer-about {
            width: 374px;
        }

    }
  
}

@media screen and (max-width: 600px) {
    .test-col{ 
        flex: 100%; 
        max-width: 100%;
    }
}

