.services {
    box-shadow: 0 0.3125rem 0.625rem 0 rgba(0, 0, 0, 0.3);
    margin-top: 3rem;
    // SUS OUT ALIGN ITEMS STRETCH OR READ NOTES ON ADAVANCED CSS GRID
    // set image width and for  > img make width 100%
    
    a{
        text-decoration: none !important;
        font-weight: 900;
        color: black !important;
    }

    .service {


        .service-overlay {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            background: rgba(0, 0, 0, 0.6);
            color: white;
            display: flex; 
            align-items: center;
            justify-content: center;
            opacity: 0;
            // slow transition effect for opacity
            transition: opacity 0.25s;
            cursor: pointer;

            &:hover {
                opacity: 1;
            }

               // target every child of service overlay (the book now text)
               // animation to appear from the bottom
            & > * {
                // push the text down from original position
                transform: translateY(20px);
                // add a transition to transform
                transition: transform 0.25s
               }

               // bring the book now text to its original position on hover
               &:hover > * {
                   transform: translateY(0);
               }

            .book-now{
                font-size: 1.5rem;
                font-weight: bold;
            }
        }

        .color-overlay {
            background: $main-color;
            text-align: center;

        }

    //  // set a min max for height on the img to give it a rnage to grown and shrink to https://stackoverflow.com/questions/52871316/how-to-make-bootstraps-card-img-top-equal-height-at-responsive-widths
    // .card-img {
    //     width: 100%;
    //     height: auto;
    //     object-fit: cover;
    // }

       
    }
}

.service-card{
    margin-bottom: 10px;
}




.card-img-top {
    width: 100% !important;
    // height: 15vw !important;
    height: 200px;
    object-fit: cover !important;
}