@import "styles/config";
@import "styles/utilities";


// General styles
* {
   
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Open Sans', sans-serif;

}

body {
    background: $main-color;
}

// Logo
.logo {
    height: 60px;
    width: 280px;
    cursor: pointer;
    margin-left: 2rem;
}



// Header
#nav-bar {
    display: flex;
    position: sticky;
    top: 0;
    background: black;
    height: 120px;
    justify-content: space-between;
    align-items: center;
    font-size: 1.2rem;
    z-index: 2;
    padding: 1rem;


   .nav-menu {
      display: flex;
      align-items: center;
      list-style: none;
      
      .nav-links {
          padding: 0.75rem;
          margin: 0 0.25rem;
          text-decoration: none;
          color: white;

          &:hover {
              background: $main-color;
              border-radius: 5px;
          }
      }
   }
}



 #header-container {
    height: 100vh;
	width: 100%;
	display: flex;
	align-items: center;
	object-fit: contain;
	justify-content: center;
    

    .quote-button{
        position: relative;
       padding: 20px 50px;
       display: block;
       text-decoration: none;
       text-transform: uppercase;
       width: 200px;
       overflow: hidden;
       cursor:pointer;
     
       
       .quote-text { 
           position: relative;
           z-index: 1;
           color: #fff;
           font-size: 18px;
     
           
   
           
           
       }

       &:hover .liquid {
        top: -120px;
       }

       & .liquid {
           position: absolute;
           left: 0;
           top: -80px;
           width: 200px;
           height: 200px;
           background: $main-color;
           box-shadow: inset 0 0 50px rgba(0, 0, 0, .5);
           transition: 0.5s;

           &:before,
           &:after {
               content: '';
               position: absolute;
               width: 200%;
               height: 200%;
               top: 0;
               left: 50%;
               transform: translate(-50%, -75%);
           }

           &:before {
               border-radius: 45%;
               background: rgba(20,20,20,1);
               animation: animate 5s linear infinite;
           }
           &:after {
            border-radius: 40%;
            background: rgba(20,20,20,0.5);
            animation: animate 10s linear infinite;
           }

           @keyframes animate {
            0%{
                transform: translate(-50%, -75%) rotate(0deg);
            }
            100%{
                transform: translate(-50%, -75%) rotate(360deg);
            }
           }
       }

    }
    #header-carousel {
        object-fit: cover;
        width: 100%;
        height: 100%;
        position: fixed;
       
    
    
        &:after {
            /* to create the overlay on top of our about section */
            content: "";
            background-color: black;
            position: absolute;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            opacity: 0.4;
        }
    }
    
}


// Testimonials
.testimonials {
    padding: 2.5rem 0;
    background: $main-color;
    color: black;
    text-align: center;
    z-index: 1;

    .heading {
        color: white;
    }

    .inner {
        max-width: 1200px;
        margin: auto;
        overflow: hidden;
        padding: 0 1.2rem;
    }

    .row {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }

    .test-col {
        flex: 33.33%;
        max-width: 33.33%;
        box-sizing: border-box;
        padding: 15px;
    }

    .testimonial {
        background: #fff;
        padding: 30px;
    }    
    
    .name {
        font-size: 1.2rem;
        text-transform: uppercase;
        margin: 1.2rem 0;
    }

    .stars {
        color: $main-color;
        margin-bottom: 1.2rem;

        .fa-star {
            padding-right: 0.5rem;
        }
    }
}




// Footer
.footershortcut-container {
    z-index: 2;
    background-color: white;
}
.footer-container {
    background: black;
    padding: 0.5rem 2rem;
    display: flex;
    margin-top: auto;
    z-index: 2;
    align-items: center;
    justify-content: center;
    color: white;

    .abn {
        margin-left: auto
    }


}

.app-container {
	display: flex;
	flex-direction: column;
	min-height: 100vh;
}








@import "styles/media"

