@import "styles/config";
@import "styles/utilities";
@import "styles/services_grid";
// @import "~bootstrap/scss/breakpoints";
// @import "~bootstrap/scss/functions";
// @import "~bootstrap/scss/variables";
// @import "~bootstrap/scss/mixins";


// General styles
* {
   
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Open Sans', sans-serif;

}

body {
    background: '#fff';
}

// Logo
.logo {
    height: 60px;
    width: 280px;
    cursor: pointer;
    margin-left: 2rem;
}

.navbar-light .navbar-toggler-icon {
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' width='30' height='30' viewBox='0 0 30 30'%3e%3cpath stroke='white' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e") !important;
}

.navbar-light .navbar-toggler {
    color: rgba(0,0,0,.5);
     border-color: white !important;
}

// Header
#nav-bar {
    // display: flex;
     position: sticky;
     top: 0;
    z-index: 100;
    // height: 120px;
    // justify-content: space-between;
    // align-items: center;
    // font-size: 1.2rem;
 background-color: black;
    // padding: 1rem;
    color: white;

.is-active{
    background: $main-color;
    border-radius: 5px;
}


//    .nav-menu {
//       display: flex;
//       align-items: center;
//       list-style: none;
      
      .nav-links {
          padding: 0.75rem;
          margin: 0 0.25rem;
          text-decoration: none;
          color: white;

          &:hover {
              background: $main-color;
              border-radius: 5px;
          }
      }
//    }
}



 #header-container {
    // height: 100vh;
	// width: 100%;
	display: flex;
	align-items: center;
	object-fit: contain;
	justify-content: center;
    

   
    #header-carousel {
        object-fit: cover;
        width: 100%;
        height: 100%;
        position: fixed;
   
        .carousel-pic {
            object-fit: cover;
            width: 100%;
            height: 100%;
            position: fixed;

        }
       
    
    
        &:after {
            /* to create the overlay on top of our about section */
            content: "";
            background-color: black;
            position: absolute;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            opacity: 0.4;
        }
    }
    
}

.quote-button{
 position: absolute;
    left: 50%;
    top: 50%;
    z-index: 99;
    text-transform: uppercase;
    width: 200px;
    overflow: hidden;
    cursor: pointer;
    padding: 12px 41px;
    transform: translate(-50%, -50%);
    text-align:center;
    border-radius: .25rem;
    border: 1px solid transparent;
    line-height: 1.5;
 
 
   
   .quote-text { 
       position: relative;
       z-index: 1;
       color: #fff;
       font-size: 18px;
 
       

       
       
   }

   &:hover .liquid {
    top: -120px;
   }

   & .liquid {
       position: absolute;
       left: 0;
       top: -80px;
       width: 200px;
       height: 200px;
       background: $main-color;
       box-shadow: inset 0 0 50px rgba(0, 0, 0, .5);
       transition: 0.5s;

       &:before,
       &:after {
           content: '';
           position: absolute;
           width: 200%;
           height: 200%;
           top: 0;
           left: 50%;
           transform: translate(-50%, -75%);
       }

       &:before {
           border-radius: 45%;
           background: rgba(20,20,20,1);
           animation: animate 5s linear infinite;
       }
       &:after {
        border-radius: 40%;
        background: rgba(20,20,20,0.5);
        animation: animate 10s linear infinite;
       }

       @keyframes animate {
        0%{
            transform: translate(-50%, -75%) rotate(0deg);
        }
        100%{
            transform: translate(-50%, -75%) rotate(360deg);
        }
       }
   }

}

// Promotions
.enquire-button {
    background: $main-color;
    color: white;
    outline: none;
    border:none;
    border-radius: 5px;
    height: 2.3rem;
    width: 9rem;
    
}

.promotions {
    padding: 2.5rem 0;
    background-color: white;
    z-index: 1;
    text-align: center;
    

    .underline {
        color: $main-color;
    }

    .coupon {
        border: 5px dotted $main-color; /* Dotted border */
        border-radius: 15px; /* Rounded border */
        max-width: 450px;
        z-index: 1;

    
        img {
            width: 100%;
        }
        
            
                .coupon-container {
                    padding: 1.5rem 1.5rem;
                    background-color: black;
                  
                    h2 {
                        color: $main-color;
                        font-size: 1.5rem;
                        margin-bottom: 1.3rem;
                    }

                  
                  }
    
    
    
    }


}




// Testimonials

.testimonials {
    padding: 2.5rem 0;
    background: $main-color;
    color: black;
    text-align: center;
    z-index: 1;

    .row .card {
        height: 100%;
    }

    .class-border {
        border: 5px dotted $main-color;
    }

    .heading {
        color: white;
    }

    
    .name {
        font-size: 1.2rem;
        text-transform: uppercase;
        margin: 1.2rem 0;
        // font-weight: bold !important;
    }

    .stars {
        color: $main-color;
        margin-bottom: 1.2rem;

        .fa-star {
            padding-right: 0.5rem;
        }
    }
}

// About Page
#about {
  
    //Grid Area
   

    .about-image {
        height: 300px;
        width: 300px;
        margin-bottom: 2rem;
       
    }
    .about-image-2 {
       
        height: 300px;
        width: 300px;
       
    }

  
}





// Footer


.footershortcut-container {
    z-index: 10;
    background-color: #ccc;



    // display: grid;
    // grid-template-areas: 
    //     "logo header1 header2"
    //     "about links contact"
    //     "about links social"
    // ;

    .logo-class {
        height: 3.5rem;
        width: 16rem;
        margin-bottom: 2rem;
    }

  
    
    .footer-heading {
        font-size: 1.3rem;
        font-weight: bold;
        margin-bottom: 1.5rem;
    }


   

    .footer-about {
        width: 500px;
        line-height: 1.6rem;
        font-size: 0.8rem;
    }
  

    .useful-links {
        .is-active {
            color: white;
        }
        a {
            text-decoration: none;
            color: black;
            margin-bottom: 2rem;
            font-size: 0.8rem;

        &:hover {
            color: white;
        }
        }

      
    }


    .footer-contact{
        font-size: 0.8rem;
        
    
    }

    .socials {
        a i {
            color: $main-color;

            &:hover {
                color: white;
            }
        }
    }
}
.footer-container {
    background: black;
    display: flex;
    margin-top: auto;
    z-index: 2;
    align-items: center;
    justify-content: center;
    color: white;
    padding: 0.5rem 2rem;

    p {
        margin-bottom: 0 !important;
    }

    .abn {
        margin-left: auto
    }



}

// Contact
// https://www.youtube.com/watch?v=FBAfpj91hps&ab_channel=ProWebProWeb
.head {
    background-color: $main-color;
    border-radius: 5px;
    margin-top: -40px;
}


.effect-1 {
    border: 0 !important;
    outline: none !important;
    width: 100% !important;
    padding: 7px 0 !important;
    border-bottom: 1px solid #ccc !important;
}

 

.effect-1 ~ .focus-border {
    position: absolute;
    bottom: 0;
    left: 50%;
    width: 0;
    height: 2px;
    background-color: $main-color;
    transition: 0.4s
}

.effect-1:focus ~ .focus-border {
    width: 100%;
    transition: 0.4s;
    left:0;
}

.form-btn {
    background: $main-color;
    color: white;
    outline: none;
    border:none;
    border-radius: 5px;
    height: 2.3rem;
    width: 9rem;
}

// Success page
.tick {
    color: $main-color;
 
}

.succ-msg {
    font-weight: 900;
    font-size: 1.9rem;
}








.app-container {
	display: flex;
	flex-direction: column;
	min-height: 100vh;
}






// @include media-breakpoint-up(sm) {
//     html {
//       font-size: 1.2rem;
//     }
//   }
  
//   @include media-breakpoint-up(md) {
//     html {
//       font-size: 1.4rem;
//     }
//   }
  
//   @include media-breakpoint-up(lg) {
//     html {
//       font-size: 1.6rem;
//     }
//   }



@import "styles/media"